.vscode

// Ignore big resources
res/big/**

// Generated GCode from tests
test/res/result.gcode
bench/out/**

// All generated binaries
bin*

// Documentation can always be generated
docs/**

// Valgrind
vgcore*